

/* Estilos de botones personalizables.
.heroes button{
    flex:1;/*edita el boton para que tengan todos el mismo espacio.*/
    /*cursor:pointer;
    position: relative;/*especifica como un elemento es posicionado en el documento*/
    /*left:0; /*espacio desde el lado izquiero de la plantilla*/
    /*background-color: #EEE;
    margin:.6em; /*margen en todos los lados.*/
    /*padding: 0em;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
    border-style:double;
}

.heroes button:hover {
    color: #2c3a41;
    background-color: pink;
    left: .1em;
  }
  .heroes button:active{
    background-color: #2c3a41;
    color: green;
  }
.heroes button.selected{
    background-color: black;
    color: white;
}
.heroes button.selected:hover {
    background-color: #505050;
    color: white;
  }
  
  .heroes button.selected:active {
    background-color: black;
    color: white;
  }
  */
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    position: relative;
    cursor: pointer;
  }
  
  .heroes li:hover {
    left: .1em;
  }
  
  .heroes a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .heroes a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .heroes a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .heroes .badge {
    display: inline-block; /* [Pantalla: bloque en línea;]  */
    font-size: small; /* [tamaño de fuente: pequeño;]  */
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .add-button {
    padding: .1.5rem 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
   }
   
   .add-button:hover {
     color: white;
     background-color: #42545C;
   }
   
   button.delete {
     position: absolute;
     left: 210px;
     top: 5px;
     background-color: white;
     color:  #525252;
     font-size: 1.1rem;
     margin: 0;
     padding: 1px 10px 3px 10px;
   }
   
   button.delete:hover {
     background-color: #525252;
     color: white;
   }
  
